<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Digital Squire: Agency Strategy meets Virtual Assistant Tactics</title>
  {{ template "_internal/google_analytics_async.html" . }}
  
  <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

  <style>
    h1, h2, h3, .type { font-family: 'UnifrakturCook', cursive; }
    p {
      line-height: 1.4;
    }
    .bottom-4 {
      bottom: 4rem;
    }
    .left-4 {
      left: 4rem;
    }
  </style>
</head>
<body>
  
    <!-- Hero -->
    
    <a href="#squire" data-scroll class="no-underline">
    <div class="vh-100 dt w-100 bg-dark-gray white cover" style="background:url(/img/digital-squire-strategy.jpg) no-repeat center;">
      <div class="dtc v-mid">
        
          <h1 class="f1 f-headline-l i white absolute-l left-4 bottom-4 lh-solid ma0 pa5">The Digital Squire
          <span class="db f3 tl tracked sans-serif mt3 pl2 ma0 pa0 lh-title fw1">At your service, my liege</span></h1>
        
      </div>
    </div>
    </a>
    
    <!-- /Hero -->
    
    <!-- Well met -->
    
    <div id="squire" class="ph4 ph5-m ph6-l pv5 pv5-ns pv6-l f4 f3-l bb b--black-10">  
      <div class="cf">
        <div class="fl-l w-30-l center">
          <img src="/img/the-digital-squire-ignites-businesses.jpg" class="dib w4 w5-l h4 h5-l mb5">
        </div>
        <div class="fl-l w-60-l pl5-l">
          <p class="f5 ttu sans-serif pb4 ma0 pa0 lh-title fw4 i">Well met,</p>
          <h1 class="f1 f-headline-l i lh-solid ma0 mb4" style="margin-left:-8px;">Knight of Industry</h1>
          <p class="lh-copy measure mt4">Tired must you be from traversing the digital realm - observing the majesty of your product, dispensing bounties to salespeople, and collecting the tithings of thy customers.</p>
          <p class="lh-copy measure mt4">Be at ease, for I have set our camp for the night. Rest by the warm fire, enjoy the poached pheasant, and regale me with tales of your business, for I have many questions, and I seek many answers in order to aid thee properly.</p>
          <p class="lh-copy measure mt4">On the morrow, thy noble quest shall begin at dawn - where I shall <a data-scroll href="#services">deliver thee profits</a> and increased notoriety.</p>
          <p class="lh-copy measure mt4 b ttu">
            <em>Huzzah!</em>
          </p>
        </div>
      </div>
    </div>
    
    <!-- /Well Met -->
    
    <!-- Tale -->
    
    <div class="ph4 ph5-m ph6-l pv5 pv6-ns f4 f3-ns bg-dark-green white">
      <div class="cf">
        <h2 class="f1 f-headline-l ma0 pa0 lh-title">The Squire's Tale</h2>
        <div class="fl-l w-60-l pr5-ns white-70">        
          <p>Many years ago, I began my training as a Digital Page, grooming banner ads for Atlantic Records and mucking out the stables of broken code for Frank's Red Hot. It kept me fed and clothed, which was all a boy could hope for.  I served Lord and Lady, Knight and Dame, Agency and Client, regardless of allegiance.  Their Game of Thrones was far beyond my station.</p>
          <p>One cool summer's day, I chanced upon a mighty wizard (CTO) who explained to me the various treasures to be found within our realm.  His intelligence and wisdom were unquestionable, so studied was he in internet lore.</p>
          <p>When his lessons ended, he bade me well, knowing that new and glorious adventures were upon me.  For I had gained 14 years of (digital) experience, the proper age for a Page to mature into a Squire.</p>
        </div>
        <div class="fl-l w-40-l sans-serif mt5 mt4-l near-black ph3">
          <div class="">
            <div class="pv2 pa4-ns f5 b ba bw2">
              <p class="lh-copy">"Working with The Digital Squire was a great process, he is easy to communicate with, works fast, and the end product achieved our goals. He explains the process well and always answered my questions. I’d gladly recommend him."</p>
              <article class="dt w-100 mt4">
                <div class="dtc w2 w3-ns v-mid">
                  <img src="/img/true-colombia-travel-logo.png" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
                </div>
                <div class="dtc v-mid pl3">
                  <p class="type f3 lh-title mv0">Sir Brian</p>
                  <p class="f6 mt0 mb0">King of <a href="http://www.truecolombiatravel.com" class="near-black">True Colombia Travel</a></p>
                </div>
              </article>
            </div>          
          </div>
        </div>
      </div>
    </div>
    
    <!-- /Tale -->
    
    <!-- Services -->
    
    <a id="services"></a>
    
    <div class="ph4 ph5-m ph6-l pv6 pb0 pb6-ns mb0 f4 f3-ns">
      <div class="mw8-ns center-ns">
        <h2 class="f1 f-headline-l ma0 pa0 lh-title">The Squire's Services</h2>
        <p class="f3 measure">Skilled in arms and matters of the table, I can perform all manner of digital athletics, from coding to writing copy. As such I have separated my services into errands and quests to help you decide which is right for you.</p>
        <ul>
          <li class="lh-copy mb2">
            <strong>Administrative</strong> - Account Creation. Domain Research. Importing and Exporting data.
          </li>
          <li class="lh-copy mb2">
            <strong>Strategic</strong> - Keyword Research. Website Audits. Project Roadmapping.
          </li>
          <li class="lh-copy mb2">
            <strong>Creative</strong> - Ideation. Landing Page Design. Writing Blog Articles.
          </li>
          <li class="lh-copy mb2">
            <strong>Optimization</strong> - On-page SEO. Code refactoring. Broken link mitigation.
          </li>
          <li class="lh-copy mb2">
            <strong>Tactical</strong> - Task automation. CMS Setup. Prototyping.
          </li>
        </ul>
        <h3 class="f1 mt5 mb0 measure">Errands</h3>
        <p class="f3 measure">Digital errands are just small tasks that can be completed with minimal input from you. Tasks that fix problems that your business, website, or product is having.</p>
        <h3 class="f1 mt5 mb0 measure">Quests</h3>
        <p class="f3 measure">
          So, you wish to embark on a quest.  I will accompany you from start to finish, incorporating every aspect (that you need) from our errand list.  Our A.S.C.O.T. service will leave you buttoned up and ready to wage digital war on your competitors.
        </p>
        <a class="f5 sans-serif ttu link dim br1 ph4 pv3 mt4 mb2 dib white bg-blue" href="https://goo.gl/forms/aAPZ70Bob8DEEBYf2">Hire the Squire</a>
      </div>
    </div>
    
    <!-- /Services -->
    
    <!-- Articles -->
    
    <div class="ph4 pb4 pb6-ns pt0 f3">
      <div class="cf">
        {{ range first 2 .Data.Pages }}
        <div class="fl-ns w-50-ns pa3-ns">
          <a href="{{ .Permalink }}" class="no-underline">
          <article class="bg-white center ba b--black-10 mv4">
            <img src="{{ .Params.featuredimage }}" class="w-100 db" alt="{{ .Params.featuredimagealt }}">
            <div class="pa3">
              <span class="db ttu sans-serif f6 mv2">
                {{ if .Params.categories }}
                  {{range .Params.categories}}
                    {{ . }}
                  {{end}}
                {{end}}
              </span>
              
                <span class="black f2 b fw1 mt3 db lh-title no-underline">{{ .Title }}</span>
                <small class="f4 db lh-copy pv2 measure-wide black-80">{{ .Summary | truncate "210" }}</small>
              
            </div>
          </article>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    
    <!-- /Articles -->
    
    {{ partial "footer" . }}
    
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  
  <script>
	  var scroll = new SmoothScroll('a[href*="#"]');
  </script>

</body>
</html>
