

<div class="cf pt5 pb0 bt b--black-10 mt5 sans-serif">
  <div class="fl-l w-10-l mb3 mb0-l">
    <img src="/img/tom-feeley.jpg" class="ba b--black-10 db br-100 w3 w3-ns h3 h3-ns"/>
  </div>
  <div class="fl-l w-90-l">
    <h3 class="f3 ma0 pa0 lh-title">Tom Feeley</h3>
    <p class="f5 mt1 mb4 lh-copy measure-wide">Well met!  I am the founder of The Digital Squire. Besides helping people with their digital strategy, I enjoy reading, candied bacon, and rental-based side hustles.</p>
    <a href="https://tomfeeley.com/" class="f5 link">Blog</a>
  </div>
</div>

<div class="cta mv5">
  <div class="bt ba-ns bg-light-blue b--light-blue bw2 f6 pa0 pv5 pa4 pa5-ns">
    <h3 class="f2 f1-ns ma0 pa0 pb3 pb1-ns measure-narrow lh-title navy">Help me help you</h3>
    <p class="f5 sans-serif ma0 pa0 pb4 measure lh-copy navy">Automate redundant tasks, build landing pages that convert, optimize your code, get found on Google and more.</p>
    <a class="ttu f5 link dim br1 ph3 pv3 pv3-ns mb2 db dib-ns white bg-navy sans-serif tc tl-ns" href="https://goo.gl/forms/aAPZ70Bob8DEEBYf2">Hire the Squire</a>
    <a class="ttu f5 bg-white b--navy link dim br1 ba ph3 pv3 pv3-ns mb2 db dib-ns navy sans-serif tc tl-ns" href="/#services">My Services</a>
  </div>
</div>
