
<div class="flex items-center justify-left mv5">
  {{ if .PrevInSection }}
  <a href="{{.PrevInSection.Permalink}}" class="f6 black no-underline ba sans-serif inline-flex items-center pa3 border-box mr4">
      <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronLeft icon</title>
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
    <span class="pl3"><span class="b">Previous:</span> {{ .PrevInSection.Title }}</span>
  </a>
  {{ end }}
  {{ if .NextInSection }}
  <a href="{{.NextInSection.Permalink}}" class="f6 no-underline black ba sans-serif inline-flex items-center pa3 border-box">
    <span class="pr3"><span class="b">Next:</span> {{ .NextInSection.Title }}</span>
    <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
      <title>chevronRight icon</title>
      <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
    </svg>
  </a>
  {{ end }}
</div>
