<header class="mb0 bb b--black-10">
  <nav class="db dt-l w-100 border-box pv4 sans-serif ph4 ph5-l tl tl-l mw8 center">
    <a href="/" class="link">
      <div class="dtc w2 w2-ns v-mid">
        <img src="/img/the-digital-squire-logo.png" class="ba b--black-10 db br-100 w2 w2-ns h2 h2-ns"/>
      </div>
      <div class="dtc v-mid pl3">
        <span class="f6 fw6 lh-title black mv0">{{ .Site.Params.author }}</span>
      </div>
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tl tr-l mt4 mt0-l">
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/posts" title="Articles">Articles</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/#services" title="Services">Services</a>
      <a class="link dim dark-gray f6 f5-l dib" href="https://goo.gl/forms/aAPZ70Bob8DEEBYf2" title="Contact">Contact</a>
    </div>
  </nav>
</header>
