<style>
  article p {
    font-size: 18px;
    line-height: 1.6em;
    max-width: 34em;
  }
  article main li {
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: .4em;
    max-width: 34em;
  }
  .lead { font-size: 21px; }
  main h2 {
    font-size: 48px;
    margin: 2em 0 0;
  }
  main h3 { 
    font-size: 42px;
    margin: 2em 0 0;
  }
  main h4 {
    font-size: 36px;
    margin: 2em 0 0;
  }
  main h5 {
    font-size: 24px;
    margin: 2em 0 0;
  }
  main h6 {
    font-size: 21px;
    margin: 2em 0 0;
  }
  
  @media (min-width: 30em) {
    article p {
      font-size: 24px;
      line-height: 1.6em;
      max-width: 34em;
    }
    article main li {
      font-size: 24px;
      line-height: 1.6em;
      margin-bottom: .4em;
      max-width: 34em;
    }
    .lead { font-size: 28px; }
    main h2 {
      font-size: 36px;
      margin: 2em 0 0;
    }
    main h3 { 
      font-size: 28px;
      margin: 2em 0 0;
    }
    main h4 {
      font-size: 24px;
      margin: 2em 0 0;
    }
  }
  
  main iframe {
    margin: 2em 0 0;
    max-width: 100%;
  }
  main dt {
    font-size: 24px;
    line-height: 1.6em;
    max-width: 34em;
  }
  main dd {
    font-size: 18px;
    line-height: 1.6em;
    max-width: 34em;
  }
  main input[type="text"], main input[type="password"], main input[type="email"], main textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-color: rgba(0, 0, 0, .2);
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif;
    margin-bottom: .5rem;
    padding: .5rem;
    width: 100%;
  }
  main input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  main label {
    display: block;
    font-family: sans-serif;
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  main input + small {
    color: rgba(0,0,0,.6);
    display: block;
    font-family: sans-serif;
    font-size: .875rem;
    margin-bottom: .5rem;
  }
  main table {
    max-width: 100%;
    margin-bottom: 2em;
  }
  main table caption {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: left;
    text-transform: uppercase;
  }
  main thead th {
    background: rgba(0,0,0,.1);
    font-family: sans-serif;
    padding: .5rem;
    font-size: .75rsem;
    text-align: left;
    vertical-align: middle;
  }
  main tbody th {
    font-family: sans-serif;
    padding: .5rem;
    padding-top: .5rem;
  }
  main tbody td {
    font-family: sans-serif;
    padding: .5rem;
    padding-top: .5rem;
  }
  main tfoot th {
    color: rgba(0,0,0,.6);
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    padding: 1em 0 0;
    text-align: left;
  }
</style>
