<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>You've gone off the path</title>
  {{ template "_internal/google_analytics_async.html" . }}
  <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <style>
    h1, h2, h3, .type { font-family: 'UnifrakturCook', cursive; }
    p {
      line-height: 1.4;
    }
    .bottom-4 {
      bottom: 4rem;
    }
    .left-4 {
      left: 4rem;
    }
  </style>
</head>
<body>
  
    <!-- Hero -->
    

    <div class="vh-100 dt w-100 bg-dark-gray white cover" style="background:url(/digital-squire-strategy.jpg) no-repeat center;">
      <div class="dtc v-mid center tc">
        
          <a href="/" class="no-underline">
          <img src="/img/the-digital-squire-ignites-businesses.jpg" class="dib w4 w5-l h4 h5-l mb5">
          <h1 class="f1 f-headline-l i lh-solid ma0 pa5">Find your way home</h1>
        </a>
        
      </div>
    </div>

    
</body>
</html>
